@font-face {
  font-family: "Recursive";
  font-style: normal;
  font-weight: 300 800;
  font-display: fallback;
  src: url(./assets/fonts/recursive.woff2) format("woff2");
}

body {
  font-family: "Recursive", monospace;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: rgb(74, 32, 210);
}

.image {
  width: min(400px, 100%);
  display: block;
}
